body{
    cursor: url('circle-cursor.png') 16 16, auto;
    color: gray;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

footer{
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 10px;
}

/* Menu network */

:root {
    --bg: #dcdde1;     
    --color-icon: #535c68;  
    --social-icon1: #49005f;
    --social-icon2: #3b5999;
    --social-icon3: #00ccd3;
    --social-icon4: #cd201f;
    --social-icon5: #0077B5;  
  }
  
* {
    margin: 0;
    padding: 0;  
}
  
.network {
    position: fixed;
    bottom: 0;
    right: 0;
}
  
  .icon-list {
    width: 100%;
    max-width: 50rem;
    padding: 0 1.5rem;
    display: flex;
  }
  
  .icon-item {
    list-style: none
  }
  
  .icon-link {  
    display: inline-flex;
    font-size: 25px;  
    color: var(--color-icon);
    width: 6rem;
    height: 6rem;   
    transition: .5s linear;
    position: absolute;
    bottom: 0;
    /* right: 0; */
    margin: 10px;
    z-index: 1;
    margin: auto
  }
  
  .icon-link:hover {
    color: #fff;
  }
  
  .icon-link i {
    margin: auto;    
  }
  
  .icon-link::before {  
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 50%;
    height: 50%;
    background: #000;
    border-radius: 50%;
    z-index: -1;
    transform: scale(0);
    transition: 0.3s cubic-bezier(.95, .32, .37, 1.21);
  }
    
  .icon-link:hover::before {  
    transform: scale(1);
  }
  
  .icon-item:nth-child(1) a:hover:before { 
    background: var(--social-icon1); 
  }
  
  .icon-item:nth-child(2) a:hover:before { 
    background: var(--social-icon2); 
  }
  
  .icon-item:nth-child(3) a:hover:before { 
    background: var(--social-icon3); 
  }
  
  .icon-item:nth-child(4) a:hover:before { 
    background: var(--social-icon4); 
  }
  
  .icon-item:nth-child(5) a:hover:before { 
    background: var(--social-icon5); 
  }

/* Titre */

h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    font-size: 100px;
    font-weight: bold;
    color: black;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: white;
}

.list {
    list-style: none;
    padding: 0;
    text-align: right;
}

li{
    padding-left: 50px;
}
  
.list li {
    display: inline-block;
    margin-right: 10px;
}
  

a{
    text-decoration: none;
}

#menu {
    font-size: 18px;
    color: gray;
    font-family: inherit;
    font-weight: 800;
    cursor: pointer;
    position: relative;
    text-transform: uppercase;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
}
  
#menu:focus,
#menu:hover {
    color: #fff;
}
  
#menu:focus:after,
#menu:hover:after {
    width: 100%;
    left: 0%;
}
  
#menu:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #fff;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
}

/* EMail */
#email {
    align-items: center;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
    display: flex;
    font-family: ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5;
    text-decoration: none;
    outline: 0;
    border: 0;
    padding: 1rem;
}
  
#email:before {
    background-color: #fff;
    content: "";
    display: inline-block;
    height: 1px;
    margin-right: 10px;
    transition: all .42s cubic-bezier(.25,.8,.25,1);
    width: 0;
}
  
#email:hover:before {
    background-color: #fff;
    width: 3rem;
}