@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Zalando+Sans:ital,wght@0,200..900;1,200..900&display=swap');

* {
  font-family: "Zalando Sans";
  font-size: 20px;
}

h1 {
  font-family: "Outfit";
  font-size: 60px;
  margin: 0;

}

/* Mode Sombre / Claire */
.light {
  color: black;
  background-color: white;
}

.dark {
  color: white;
  background-color: #0b0b0b;
}

.dark a {
  color: white;
}

/* body {
    width: 40%;
    height: 500px;
    top: 79%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: radial-gradient(circle, currentcolor 1px, transparent 1px);
    background-size: 20px 20px;
    mask-image: radial-gradient(circle, rgb(0, 0, 0) 40%, rgba(0, 0, 0, 0) 100%);
    opacity: 0.2;
} */