@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Zalando+Sans:ital,wght@0,200..900;1,200..900&display=swap');

* {
  font-family: "Zalando Sans";
  font-size: 20px;
}

h1 {
  font-family: "Outfit";
  font-size: 70px;
  margin: 0;

}

/* Mode Sombre / Claire */
.light {
  color: black;
  background-color: white;
}

.dark {
  color: white;
  background-color: #0b0b0b;
}

.dark a {
  color: white;
}

h2 {
  margin-left: 3rem;
  font-size: 40px;
}

.box .dark {
  background-color: #0d0d0de8;
}
.box .ligth {
  background-color: #969696e8;
}

.box {
  margin-left: 1rem;
  border-radius: 1rem;
}

section {
  margin-top: 5rem;
}